body {
    padding: 0;
    margin: 0;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(3px);
}

.container * {
    box-sizing: border-box;
}

.container {
    position: relative;
    height: 100vh;
    overflow: hidden;

}

.card {
    position: absolute;
    left: calc(50% - 175px);
    top: calc(50% - 250px);
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-delay: initial;
    transform: rotate(-10deg) translate(0, 0);
    perspective: 1500px;
   
}

.card:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-shadow: 0 0 50px #000;
    transition: all 0.5s ease-in-out;
}

.card.opened {
    transform: rotate(0deg) translate(175px, 0);
}

.card.opened .front {
    transform: rotateY(-180deg);
}

.card,
.page {
    width: 350px;
    height: 500px;
}

.page {
    position: absolute;
    cursor: pointer;
    transition: transform 1s ease-in-out;
    outline: 1px solid transparent;
}

.front {
    transform-origin: 0 50% 0;
    transform-style: preserve-3d;
    transform: rotateY(-20deg);
    z-index: 2;
}

.outside,
.inside {
    position: absolute;
    -webkit-backface-visibility: hidden;
}

.outside {
    border: 10px solid #fbfbfb;
    background-color: #ffffff;
    background-image: url("bg2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.inside,
.bottom {
    background-color: #ffffff;
    border: 20px solid #ffffff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inside {
    transform: rotateY(-180deg);
    border-right: none !important;
    background-position: 0px 80px;
}

.bottom {
    z-index: 1;
    border-left: none !important;
    background-position: -22px 80px;
    font-size: 18px;
}

.bottom p {
    line-height: 1.4;
}

.iwd {
    transform: rotate(-10deg);
}

.iwd img {
    width: 300px;
    height: auto;
}
